<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Attuned.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="iTunes_Knockoff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Attuned.Properties.Settings>
            <setting name="hideAdvancedFields" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savedCols" serializeAs="String">
                <value>Name; Artist; Album; Genre; Rating; Play Count</value>
            </setting>
            <setting name="xmlPath" serializeAs="String">
                <value>C:\Users\arman\Dropbox\Coding\C\iTunesKnockoff\iTunes Library.xml</value>
            </setting>
        </Attuned.Properties.Settings>
        <iTunes_Knockoff.Properties.Settings>
            <setting name="HideAdvancedFields" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedCols" serializeAs="String">
                <value>Name; Artist; Album; Genre; Rating; Play Count</value>
            </setting>
        </iTunes_Knockoff.Properties.Settings>
    </userSettings>
</configuration>